*{
    box-sizing: border-box;
}
/* Smooth scrolling for back to top and other scrolling */
html{
    scroll-behavior: smooth;
}

body{
    color: #263229;
    background-color: #DCE4E7;
    width: 100vw;
    min-height: 100vh;
    font-family: 'Roboto Mono', monospace;
}

header{
    background-color: #202222;
}
/* Main Container , determing the content body area */
.container{
    width: 1400px;
    margin: 0 auto;
}
/* Brands name and menu item container */
nav{
    width: 100%;
    height: 100px;
    color: #ffffff;
}
/* It is containing the brand name and menus */
.nav-item-caontainer{
    height: 100px;
    display: flex;
    /* center from top to bottom */
    align-items: center;
}
/* Menus Container  */
.nav-menu-container{
    display: flex;
    margin-left: auto;
}
/* Desining the logo/ brand area */
/* TODO: Create a animation of RAS, color or size or anything */
.nav-item-caontainer abbr{
    font-size: 36px;
    font-family: 'Krona One', sans-serif;
    font-weight: 500;
    text-decoration: none;
    cursor: pointer;
}

/* Desinging the menus */
.nav-item{
    margin-left: 40px;
}
/* Designing the ankor or menus */
.nav-item a,
.nav-item a:active,
.nav-item a:visited,
.nav-item a:hover{
    font-size: 24px;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
}

/* header End */

/* Main Body Style Start */
.bio-card-design{
    width: 100%;
    height: 560px;
    margin-top: 80px;
    border: 1px solid #202222;
    border-radius: 10px;
    box-shadow: 2px 2px 5px #021407;
    display: flex;

    background-color: #ffffff;
}
.photo-area{
    width: 500px;
    height: 560px;
    /* for disply center of the section */
    display: flex;
    justify-content: center;
    align-items: center;
}
.photo-container{
    width: 420px;
    height: 460px;
    border: 1px solid #202222;
    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
    /* if the picture bigger then this box, it will take this shape */
    overflow: hidden;

}
/* Controling image size to parent container */
.photo-container img{
    width: 420px;
    height: 460px;
}

/* Right Sidebar: info area */
.info-area{
    width: 900px;
    height: 560px;
    margin-top: 50px;
    margin-left: 50px;
}

.title-info h3{
    font-size: 24px;
    font-weight: bold;
    text-transform: capitalize;
    color: #263229;
}
.title-info h1{
    font-size: 36px;
    font-weight: bold;
    text-transform: uppercase;
    color: #263229;
}
/* Description Area */
.info-area .descrption{
    margin-top: 50px;
    font-size: 24px;
}
.info-area .descrption h5{
    font-size: 28px;
    font-weight: bold;
    text-transform: capitalize;
}

/* Icon Area Start */
.icon-container{
    width: 100%;
    display: flex;
}
.icon-container .icon-item img{
    opacity: 70%;
}

.icon-container .icon-item img:hover{
    opacity: 85%;
}
.icon-container .icon-item{
    margin-top: 12px;
    margin-right: 12px;
    cursor: pointer;
    transition: transform 0.8s;
}
.icon-container .icon-item:hover{
    /* TODO: https://www.youtube.com/watch?v=EgRKkn76pic */
    transform: translateY(-10px);   
}
/* Icon Area End */

/* Button Area */
.hire-me-btn-container{
    margin-top: 50px;
    width: 100%;
    height: 70px;

    display: flex;
    justify-content: center;
    align-items: center;
    
}
.hire-me-btn-container button{
    font-size: 32px;
    font-weight: bold;
    border: 3px solid 263229;
    box-shadow: 2px 2px 5px #021407;

    background-color: #ffffff;
    border-radius: 10px;
    /* box-shadow: 0 9px 18px 0 #333333, 0 8px 24px 0 #333333; */
    box-shadow: 2px 2px 5px #021407;

    text-transform: uppercase;
    padding: 5px;
    color: #263229;

    transition: transform 0.8s;
}

.hire-me-btn-container button:hover{
    background-color: #263229;
    border-radius: 5px;
    text-transform: uppercase;
    color: #ffffff;
    cursor: pointer;

    transform: translateY(-10px);   
}

/* Bio Info Area End */
/* ################################################################### */
/* Common Cards Design Skill, Projects, Services, Blog */
.card-design{
    width: 100%;
    height: auto;
    margin-top: 80px;
    border: 1px solid #202222;
    border-radius: 10px;
    box-shadow: 2px 2px 5px #021407;

    background-color: #ffffff;
}

/* &&&&&&&&&&&&&&&&&&&&&&&&&& Common Section Card &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& */

/* Common Card Intro  */
.card-intro{
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
}
.card-intro-container{
    width: 60%;
    height: 100%;
    margin-top: 50px;
}
.card-intro-title h1{
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    color: #263229;
}
.card-intro-des p{
    padding-top: 20px;
    font-size: 24px;
    text-align: center;
}
/* Common card details sections */
.card-details{
    margin: 30px 30px 50px 30px;
}
.details-items-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 2rem;
}

.btn-container{
    width: 100%;
    height: 20%;
    margin-top: 20px;
}

.btn-container button{
    padding: 2px;
    border-radius: 5px;

    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;

    color:#263229;

    transition: transform .8s;
}

.btn-container button:hover{
    border-radius: 10px;
    color: #ffffff;
    background-color: #263229;
    cursor: pointer;

    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;

    transform: translateY(-10px);
}
/* ######## Common Section End ######### */

/* #####3333333333###### Skill Section Items Property Start ###3333333333##### */
.skill-item{
    width: 100%;
    height: auto;
    border-radius: 5px;
    border: 0.5px solid #021407;
    box-shadow: 2px 2px 5px #021407;

    align-items: center;
}
.skill-item-icon-area {
    margin-top: 15px;
    width: 100%;
    height: 60px;

    display: flex;
    justify-content: center;
    align-items: center;
}
.skill-item-icon-area .icon-holder{
    width: 20%;
    height: 90%;
    border-radius: 50%;
    box-shadow: 4px 4px 10px #021407 inset;

    display: flex;
    justify-content: center;
    align-items: center;
}
.skill-item-icon-area .icon-holder img{
    opacity: 80%;
}

/* Skill Item details */
.skill-item-detail h1{
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    color: #263229;
}
.skill-item-detail ul{
    margin: 10px 10px 30px 20px;
}
.skill-item-detail ul>li{
    margin-left: 50px;
    margin-top: 5px;
    font-size: 18px;
    font-weight: 500;
    color: #263229;
    text-transform: capitalize;

    list-style: url(../media/icons/check.svg);
}

/* ######## Skill Section Item Property End */
/* %%%%%%%%%%%%%% Projects Section Start %%%%%%%%%%%% */
.projects-details-items-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
}
.projects-item{
    width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 4px 2px 10px #021407;
    margin-bottom: 20px;

    display: flex;
}
.projects-item-icon-area{
    width: 30%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}
.projects-icon-holder{
    /* projects icon will 60 px, holder will take 5px margin */
    width: 100px;
    height: 100px;
    border-radius: 5px;
    box-shadow: 4px 2px 5px #021407 inset;

    display: flex;
    justify-content: center;
    align-items: center;
}
.projects-item-detail{
    width: 70%;
    height: auto;
    margin: 30px 20px;
}
.projects-item-detail h1{
    font-size: 24px;
    font-weight: bold;
    text-transform: capitalize;
    color: #263229;
}
.projects-item-detail p{
    font-size: 18px;
    font-weight: 500;
    color: #263229;
    font-style: italic;
    text-transform: capitalize;
}
.projects-item-detail h3{
    margin-top: 10px;
    font-size: 20px;
    font-weight: 600;

    text-transform: capitalize;
    color: #263229;
}
.projects-item-detail ul{
    margin-left: 10px;
}
.projects-item-detail ul>li{
    margin-top: 5px;
    margin-left: 5px;
    font-size: 18px;
    font-weight: 500;
    color: #263229;
    text-transform: capitalize;

    list-style:inside;
}

/* 
////////%%%%%%%% Projects Items Area %%%%%%%%%/////////// 
*/
.card-intro-des h3{
    padding-top: 20px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    text-transform: capitalize;
}
.service-item{
    width: 100%;
    height: auto;
    border-radius: 5px;
    padding: 10px 30px;

    justify-content: center;
    align-items: center;
}
.service-item-icon-area {
    width: 100%;
    height: 120px;

    display: flex;
    justify-content: center;
    align-items: center;
}
.service-icon-holder{
    width: 100px;
    height: 100px;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* Test area services  */

.service-item-detail h1{
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    text-transform: capitalize;
    color: #263229;
}
.service-item-detail p{
    margin-top: 10px;
    text-align: justify;
    font-size: 16px;
}

.service-btn-container{
    width: 100%;
    height: 40px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.service-btn-container button{
    padding: 2px;

    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;

    color:#263229;
    box-shadow: 2px 2px 5px #021407;

    transition: transform .8s;
}

.service-btn-container button:hover{
    border: none;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 3px 3px 10px #021407;
    color: #ffffff;
    background-color: #263229;
    cursor: pointer;

    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;

    transform: translateY(-5px);
}
/* 
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%BLOG%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/
.blog-item a{
    text-decoration: none;
}
.blog-item img{
    width: 100%;
    height: 20%;
    cursor: pointer;
}
.blog-title-info h1{
    font-size: 36px;
    font-weight: 400;
    font-family: 'Ibarra Real Nova', serif;
    text-transform: capitalize;
    color: #263229;
}
.blog-author-info h3{
    font-size: 18px;
    font-family: 'Cormorant SC', serif;
    font-weight: 600;
    color: #000000;
}
.blog-author-info{
    display: flex;
    align-items: center;
}

.autor-icon img{
    margin-right: 10px;
    height: 25px;
    width: 25px;
    border-radius: 50%;

}
.blog-item-detail-area{
    font-size: 16px;
    font-family: 'Ibarra Real Nova', serif;
    text-transform: capitalize;
    color: #263229;
}
/* 
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%Contact Us%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/
.contact-card-design{
    width: 100%;
    height: auto;
    margin-top: 80px;
    border: 1px solid #202222;
    border-radius: 10px;

    box-shadow: 2px 2px 5px #021407;
    background-color: rgb(206, 199, 190);
}
.ContactSecTop{
    margin-bottom: 50px;
}
.ContractSecBottom{
    display: flex;
}
.contact-text-box-area{
    width: 50%;
    height: auto;
    
}
.contact-text-box-area form{
    margin: 0px 30px 0px 30px;
    
    
}

.contact-text-box-area form input,
.contact-text-box-area form textarea{
    margin-bottom: 20px;
    width: 100%;
    font-size: 14px;
    text-transform: capitalize;
    padding: 10px;

    border: none;
    border-radius: 5px;
    
}
.contact-text-box-area form textarea{
   resize: vertical;
    
}

.contact-text-box-area form input[type='submit']{
     color:#263229;
     cursor: pointer;
     font-size: 14px;
     font-weight: 600;
 }

/* Right Sidebar: info area */
.contact-info-area{
    margin-bottom: 20px;
    width: 50%;
    height: auto;
}
.icon-text-container{
    width: 100%;
    height: auto;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    font-family: 'Ibarra Real Nova', serif;
    text-transform: capitalize;
    color: #263229;
    
}

.contact-text-item{
    margin-bottom: 20px;
}
.contact-text-item a{
    text-decoration: none;
    color: #263229;
}
.contact-info-area hr{
    width: 50%;
}

/* Icon Area */
.contact-icon-container{
    width: 100%;
    display: flex;
    justify-content: center;
}
.contact-icon-container .icon-item img{
    opacity: 70%;
}

.contact-icon-container .icon-item img:hover{
    opacity: 85%;
}
.contact-icon-container .icon-item{
    margin-top: 12px;
    margin-right: 12px;
    cursor: pointer;
    transition: transform 0.8s;
}
.contact-icon-container .icon-item:hover{
    /* TODO: https://www.youtube.com/watch?v=EgRKkn76pic */
    transform: translateY(-10px);   
}
/* 
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%((((((((FOOTER AREA)))))))))%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/
footer{
    margin-top: 50px;
}
.footer-item-container{
    text-align: center;
    font-size: larger;
}
.footer-item-container a{
    text-decoration: none;
}

/* 
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%((((((((BACK TO TOP)))))))))%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/
.back-to-top{
    background-color: #202222;
    width: 50px;
    height: 50px;
    border-radius: 10%;
    padding: 10px;
    color: #DCE4E7;

    position: fixed;
    bottom: 10px;
    right: 10px;

    display: flex;
    justify-content: center;
    align-items: center;

    text-decoration: none;
    font-size: x-large;

    /* hide in general, Deactive Mode */
    opacity: 0;
    pointer-events: none;
    transition: all .4s;
}
.back-to-top.active {
    bottom: 20px;
    pointer-events: auto;
    opacity: .75;
    border-radius: 50%;
    
}
.back-to-top.active:hover {
    opacity: .95;
    background-color: #233535;
}

/* 
TODO: Skill and other section card hover action 
TODO: Add link to social icon. 
TODO: paignation 
TODO: BD Cricket API
TODO: Wather API
TODO: Night View 
TODO: Bangla or Other Language
TODO: download resulme beside hire me 
TODO: contact form , Order now form




*/
